<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Repositório de Arquivos</title>
</head>
<body>
    <h1>Meu Repositório de Arquivos</h1>
    <p>Menu principal do sistema</p>
    
    <hr>
    
    <h2>🔎 Navegação</h2>

    <ul>
        <li>
            <a href="{{url_for('explorar')}}">📂 Abrir Explorador de Arquivos</a>
        </li>
        <li>
            <a href="{{url_for('objetivos')}}">🎯 Ver Objetivos do Projeto</a>
        </li>
    </ul>

</body>
</html>