<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Objetivos Técnicos</h1>
    <h2>Base do Explorador</h2>
    <ul>
        <li>Ler pastas do sitema</li>
        <li>Listar arquivos dinamicamente</li>
        <li>Diferenciar arquivos e pastas</li>
        <li>Navegação por rotas dinâmicas</li>
        <li>Template único reutilizável</li>
        <li>Botão voltar funcional</li>
    </ul>
    <h2>Tornar funcional como repositório</h2>
    <ul>
        <li>Downloads de arquivos ao clicar</li>
        <li>Navegação segura dentro da pasta base</li>
        <li>Breadcrumb (Caminho Clicável)</li>
        <li>Tratamento de erros (permição, pasta inexistente)</li>
        <li>Impedir acesso fora da pasta base</li>
    </ul>
    <h2>Melhorar a usabilidade (UX para celular)</h2>
    <ul>
        <li>Interface responsiva (CSS)</li>
        <li>Botões grandes e clicáveis</li>
        <li>Ícones claros (📁 📄 ⬅️)</li>
        <li>Barra de navegação simples</li>
        <li>Layout adaptado para tela pequena</li>
    </ul>
    <h2>Objetivos de segurança</h2>
    <ul>
        <li>Limitar a uma pasta específica (ex:C:/Repositório)</li>
        <li>Bloquear acesso com ../</li>
        <li>Adicionar senhas</li>
        <li>Não expor o disco inteiro</li>
    </ul>
    <h1>Objetivos Adicionais</h1>
    <ul>
        <li>Upload de arquivos pelo navegador</li>
        <li>Deletar arquivos</li>
        <li>Criar pastas pelo site</li>
        <li>Mostrar tamanho e data de modificação</li>
        <li>Ordenar arquivos</li>
        <li>Buscar por nome</li>
        <li>Visualização de imagens e arquivos variáveis</li>
        <li>Streaming de vídeos e músicas</li>
    </ul>
</body>
</html>